body {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

h1 {
  font-size: 2vw;
}

button {
  background: white;
  padding: 2vh 2vw;
  color: black;
}


